In [1]:
### 1. 문자열 데이터 만들기

In [2]:
string = "Hello Python"
print(string)

Hello Python

In [3]:
string = 'hello python'
print(string)

hello python

In [4]:
string # 큰 따옴표, 작은 따옴표 둘 다 가능

'hello python'

In [6]:
string ="""
옵션1 은 도움말을 출력하는 옵션입니다
옵션2 는 출력을 설정하는 옵션입니다
"""
print(string) # 위아래 줄바꿈 됨

옵션1 은 도움말을 출력하는 옵션입니다
옵션2 는 출력을 설정하는 옵션입니다

# 문자열 연산

In [7]:
# 문자열 더하기
string1="Hello "
string2="Python"
print(string1+string2)

Hello Python

In [8]:
# 문자열 더하기는 어디에 사용할지?
태어난_년도 = "1996"
print(태어난_년도+"년")

1996년

In [9]:
# 주소 출력
시도 = "구미시"
동 = "신평동"
주소 = 시도 + " " + 동
print(주소)

구미시 신평동

In [10]:
태어난_년도 = 1996
print(str(태어난_년도)+"년")

1996년

In [12]:
태어난_년도 = 1996
print(type(태어난_년도))
print(type(str(태어난_년도)))

<class 'int'>
<class 'str'>

In [13]:
태어난_년도 = "1996"
살아온_년도 = "20"
print(int(태어난_년도)+int(살아온_년도))

2016

In [14]:
# 주소 출력
시도 = "구미시"
동 = "신평동"
주소 = 시도 + " " + 동
print(주소)

구미시 신평동

In [16]:
star="--"
print(star*10)

--------------------

### 문자열 인덱싱, 슬라이싱

In [21]:
# 주민등록 데이터의 8번째 숫자가 홀수인지 판단
# 8번재 숫자를 2로 나눈 나머지가 1인 경우 -> 홀수

min_data="860227-1234567"
int(min_data[7]) % 2

1

In [24]:
## 생년월일 가져오기
min_data[0:6]

'860227'

In [25]:
## 생년월일 가져오기
min_data[2:6]

'0227'

In [26]:
## 생년월일 가져오기
min_data[:6]

'860227'

In [27]:
min_data[5:] # 제일 뒤는 -1

'7-1234567'

In [30]:
# 227-12345
min_data[3:-2]

'227-12345'

In [32]:
data = "여러분 열심히 해봅시다" # ::는 전체 데이터
print(data[::2])

여분열히해시