In [1]:
max(2,5)

5

In [2]:
a=2
b=2

# max -> 기능 -> 함수
if a>=b:
    print(a)
else:
    print(b)

2

In [11]:
min_data="991122-1234567"

In [12]:
## 주민등록 성별 판독기 함수 작성 -> 실행만
def min_cal(min_data):
    gender_num = int(min_data[7])
    gender =""
    if gender_num % 2 == 1:
        gender="남자"
    else:
        gender="여자"
    print(gender)

In [13]:
data = min_cal(min_data)
data

남자

In [14]:
data

In [15]:
## 주민등록 성별 판독기 함수 작성 -> 실행만
def min_cal_return(min_data):
    gender_num = int(min_data[7])
    gender =""
    if gender_num % 2 == 1:
        gender="남자"
    else:
        gender="여자"
    print(gender)
    return gender

In [19]:
data = min_cal_return(min_data)
data

남자

'남자'

In [20]:
data

'남자'

#### 1. 이름과 나이, 성별을 입력받아서 딕셔너리로 변환하는 함수를 작성해보세요
#### 2. 주소를 입력받았을 때, 시와 도로 나누는 함수를 작성해보세요
 - 경상북도 구미시 신평동 24-1 201호 -> 반환 [경상북도, 구미시, 신평동]

In [22]:
data = "경상북도 구미시 신평동 24-1 201호"
data.split()

['경상북도', '구미시', '신평동', '24-1', '201호']

In [23]:
def dic(이름, 나이, 성별):
    return {
        '이름': 이름,
        '나이': 나이,
        '성별': 성별
    }

In [24]:
# 함수 사용 예시
result = dic('홍길동', 25, '남')
print(result)

{'이름': '홍길동', '나이': 25, '성별': '남'}

In [25]:
def 주소_리스트(주소):
    # 주소를 공백으로 분리하여 리스트로 변환
    주소_리스트 = 주소.split()
    # 동까지만 포함된 부분 추출 (첫 세 요소)
    결과 = 주소_리스트[:3]
    return 결과

In [26]:
주소_리스트(data)

['경상북도', '구미시', '신평동']

In [27]:
def user_info(name, age):
    return {"이름", name, "나이", age}
user_info("홍길동", 28)

{28, '나이', '이름', '홍길동'}

In [31]:
def user_info(*args): #  *= 다받고 싶다
    print(args)
user_info("홍길동", 28, "남자", "신평동")

('홍길동', 28, '남자', '신평동')

In [36]:
def user_info(**kwargs): #딕셔너리로 입력
    print(kwargs)
user_info(이름="홍길동",나이=28, 성별="남자", 주소="신평동")

{'이름': '홍길동', '나이': 28, '성별': '남자', '주소': '신평동'}

In [37]:
def user_info(이름, 나이, **kwargs): #딕셔너리로 입력
    print(kwargs)
user_info(이름="홍길동",나이=28, 성별="남자", 주소="신평동")

{'성별': '남자', '주소': '신평동'}

In [39]:
def user_info(이름, 나이, *args):
    print(이름)
    print(나이)
    print("-"*20)
    print(args)

In [40]:
user_info("홍길동", 28, "남자", "신평동")

홍길동
28
--------------------
('남자', '신평동')

### 람다 함수

In [48]:
say = lambda name: print(f"{name}님 안녕하세요")
say("홍길동")

홍길동님 안녕하세요

In [45]:
data = [(1,"철수"),(7,"영희"),(3,"수지")]
data.sort()
data

[(1, '철수'), (3, '수지'), (7, '영희')]

In [49]:
data = [(1,"철수"),(7,"영희"),(3,"수지")]
data

[(1, '철수'), (7, '영희'), (3, '수지')]

In [52]:
# sort() -> 원본 리스트를 정렬
# sorted() -> 정렬한 후에 정렬한 리스트를 반환
# 외우는 게 나을 수도 -> 정렬에 대해서는
sorted_data=sorted(data, key=lambda x: x[1])
sorted_data

[(3, '수지'), (7, '영희'), (1, '철수')]

### 파일 입출력 함수 익혀보기

In [76]:
name_list=['김XX', '유YY','김ZZ']
f=open("meta_names.txt", 'w', encoding="utf-8") #w 파일 생성 모드, a 파일 추가 모드, r 읽기 모드

In [77]:
for name in name_list:
    print(name)
    f.write(name + "\t"+name + "\n")
f.close()

김영환
유예나
김강우

In [70]:
with open("meta_names_new.txt", 'w', encoding="utf-8") as file:
    for name in name_list:
        file.write(name + "\n")

In [72]:
with open("meta_names_new.txt", 'r', encoding="utf-8") as file:
    data= file.read()   # read : 전부 읽기
    print(data)

김영환
유예나
김강우

In [75]:
with open("meta_names_new.txt", 'r', encoding="utf-8") as file:
    for item in range(3):
        data= file.readline()   # readline : 한줄씩
        print(data, end="")

김영환
유예나
김강우

In [80]:
with open("meta_names_new.txt", 'a', encoding="utf-8") as file:
    file.write("김BB"+"\n")