In [1]:
from sklearn.preprocessing import LabelEncoder

items = ["TV", "냉장고", "전자레인지", "컴퓨터", "선풍기", "선풍기", "믹서", "믹서"]
# -> [0, 1, 2, 3, 4, 4, 5, 5]
encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
print(labels)

[0 1 4 5 3 3 2 2]

In [2]:
encoder.inverse_transform(labels)

array(['TV', '냉장고', '전자레인지', '컴퓨터', '선풍기', '선풍기', '믹서', '믹서'], dtype='<U5')

In [3]:
encoder.classes_

array(['TV', '냉장고', '믹서', '선풍기', '전자레인지', '컴퓨터'], dtype='<U5')

### 원핫인코딩(One-hot encoding)

In [4]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder

items = ["TV", "냉장고", "전자레인지", "컴퓨터", "선풍기", "선풍기", "믹서", "믹서"]
items # 1차원

['TV', '냉장고', '전자레인지', '컴퓨터', '선풍기', '선풍기', '믹서', '믹서']

In [5]:
items = np.array(items).reshape(-1,1)
items

array([['TV'],
       ['냉장고'],
       ['전자레인지'],
       ['컴퓨터'],
       ['선풍기'],
       ['선풍기'],
       ['믹서'],
       ['믹서']], dtype='<U5')

In [6]:
oh_encoder = OneHotEncoder()
oh_encoder.fit(items)
oh_labels = oh_encoder.transform(items)

In [7]:
oh_labels.toarray()

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

In [8]:
# 'TV', '냉장고', '믹서', '선풍기', '전자레인지', '컴퓨터'
# 1 0 0 0 0 0
# 0 1 0 0 0 0
# 0 0 0 0 1 0

In [9]:
[
[],
[],
[]
]

# or

{"col_1": [],
 "col_2": []}

{'col_1': [], 'col_2': []}

In [10]:
import pandas as pd

pd.DataFrame([
                [1,2,3],
                ["A","B", "C"],
                ["a", 'b', 'c']
            ])

   0  1  2
0  1  2  3
1  A  B  C
2  a  b  c

In [11]:
import pandas as pd

df = pd.DataFrame({"items": ["TV", "냉장고", "전자레인지", "컴퓨터", "선풍기", "선풍기", "믹서", "믹서"]})
df

   items
0     TV
1    냉장고
2  전자레인지
3    컴퓨터
4    선풍기
5    선풍기
6     믹서
7     믹서

In [12]:
pd.get_dummies(df)

   items_TV  items_냉장고  items_믹서  items_선풍기  items_전자레인지  items_컴퓨터
0      True      False     False      False        False      False
1     False       True     False      False        False      False
2     False      False     False      False         True      False
3     False      False     False      False        False       True
4     False      False     False       True        False      False
5     False      False     False       True        False      False
6     False      False      True      False        False      False
7     False      False      True      False        False      False

: